<configuration> 

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
        <!-- encoders are  by default assigned the type
        ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
  
    <logger name="o.a">
        <level value="ERROR" />
    </logger>
  
    <logger name="org.springframework">
        <level value="ERROR" />
    </logger>
  
    <logger name="org.apache.activemq">
        <level value="ERROR" />
    </logger>
  
    <logger name="org.apache.camel.support">
        <level value="ERROR" />
    </logger>
    
    <logger name="org.apache.cxf">
        <level value="ERROR" />
    </logger>

    <logger name="ca.bc.gov">
        <level value="INFO" />
    </logger>

</configuration>